      <table>
        <tr>
          <th class="first">Id</th>
          <th>Name</th>
          <th>Website</th>
          <th>Description</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th>Hiring</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @submissions.each do |submission| %>
        <tr>
          <td><%= submission.id %></td>
          <td><%= submission.company %></td>
          <td><%= submission.website %></td>
          <td><%= submission.description %></td>
          <td><%= submission.hiring %></td>
          <td><%= submission.created_at %></td>
          <td><%= submission.updated_at %></td>
          <td><%= link_to 'delete', "destroy/#{submission.id}" %></td>
        </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions"></div>
      </div>
    </div>
  </div>
</div>
