<div class="group">
  <%= f.label :name %><%= f.error_message_on :name %>
  <%= f.text_field :name, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :website %><%= f.error_message_on :website %>
  <%= f.text_field :website, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :description %><%= f.error_message_on :description %>
  <%= f.text_area :description, :class => :text_area %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :hiring %><%= f.error_message_on :hiring %>
  <%= f.check_box :hiring, :class => :check_box %>
  <span class="description">Ex: a simple text</span>
</div>

<div class="group navform wat-cf">
  <%= f.submit pat(:save), :class => :button %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:companies, :index)}';return false", :class => :button %>
</div>
